.footer {
    display: block;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background: #333;
    color: #fff;
    opacity: 0.9;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #847ebe;
}

.footer .social > * {
    margin-right: 30px;
}

.footer p {
    font-size: 1.25rem;
}

.social {
    font-size: 1.25rem;
}