<app-header></app-header>

<div class="row" id="about">
    <div class="col about-img-card">
        <img src="../../assets/images/myPhoto.jpg" alt="">
    </div>
    
    <div class="col about-info">
        <span class="personal-info">
            <p>Hi!</p>
        </span>
        <span class="personal-info">
            <p>My name is Georgi Pavlov</p>
        </span>
        <span class="personal-info">
            <p>I work as a Front-end developer.</p>
        </span>
        <span class="personal-info">
            <p>In the link below you can see my other projects and work: </p>
        </span>
        <div class="col link">
            <a href="https://github.com/GeorgePavlov17"><i class="fa fa-github fa-2x"></i></a>
        </div>
    </div>
    
</div>

<app-footer></app-footer>