.search-input-wrapper {
    display: block;
    position: relative;
    width: 100%;
    z-index: 100;

    input[type="text"] {
        display: block;
        width: 350px;
        padding: 8px 16px;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 8px;
        font-size: 1rem;
        color: black;
        outline: none;
    }

    .results-list {
        display: none;
        position: absolute;
        top: calc(100% - 4px);
        left: 0;
        width: calc(100% + 34px);
        max-height: calc(16px + (5 * 32px));
        margin: 0;
        padding: 8px 0;
        background-color: white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow-y: scroll;
        color: black;
        z-index: 50;

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            li {
                display: block;
                margin: 0;
                padding: 8px;
                color: black;
                cursor: pointer;

                &:hover {
                    background-color: rgb(0, 120, 240);
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .search-input-wrapper {
        display: flex;
        width: 210px;
    }
}