.genres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    opacity: 0.9;
    margin: 20px;
    border-radius: 8px;
}

.popular-movie-card {
    position: relative;
    display: inline-block;
    box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
    margin: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: #333;
    font-size: 20px;
    overflow: hidden;
}

ul {
    display: flex;
    list-style-type: none;  
}

.genres a {
    display: flex;
    color: #333;
    border: solid 2px;
    border-radius: 15px;
    padding: 8px;

    &:hover {
        color: #847ebe;
        cursor: pointer;
    }
}

.genres a.active {
    background: #333;
    color: #847ebe;
}

.genres ul {
    display: flex;
    padding: 0;
}

.genres .logo {
    padding: 0 32px;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
   .genres {
    flex-direction: column;
    margin: 0;
   }

   .popular-movie-card {
    display: inherit;
    margin: 32px;
    font-size: 16px;
   }

   .popular-movie-card > img {
    max-width: 320px;
    max-height: 320px;
    border-radius: 8px;
   }
}