 <app-header></app-header>

<div id="genres" class="genres top">
    <h1 class="text-primary">Genres</h1>
    <div *ngFor="let name of genresList" class="genre-card">
        <ul>
            <li>
                <a (click)="showMoviesByGenre()" class="genres">{{ name }}</a>
            </li>
        </ul>
    </div>
</div>

<div style="text-align: center; margin: 20px 0px;">
    <div *ngFor="let genre of genreListArr" class="popular-movie-card">
        <img class="backdrop" *ngIf="genre?.poster"
            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{genre?.poster}}" [alt]="">
        <img class="backdrop" *ngIf="!genre?.poster" src="assets/images/cinema.jpg" [alt]="">
        <div class="shader"></div>
        <span class="movie-title">
            <h4><b>{{ genre.title }}</b></h4>
        </span>
        <span class="movie-release">
            <p>Release date: {{ genre.release }}</p>
        </span>
        <span class="movie-rating">
            <p>Rating: {{ genre.rating }}/10</p>
        </span>
        <!-- <span class="delete-icon">
            <p><i (click)="delete(genre)" class="fa fa-trash"></i></p>
        </span> -->

    </div>
</div>

<app-footer></app-footer>